@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    /* Trick for the footer */
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#root {
    /* Trick for the footer */
    margin-top: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    margin-top: auto;
}

footer {
    background-color: rgb(52, 58, 64);
    color: rgb(180, 180, 180);
 
    height: 100px;
 
    padding-right: 15px;
    padding-left: 15px;
    margin-top: auto;
}

footer div {
    flex: 0 0 33.333333%;
   
    text-align: center !important;
    white-space: nowrap;
    width: 100%;
}

.row {
    margin: 0;
    border: 0;
    padding: 0;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}