
@tailwind base;
@tailwind components;
@tailwind utilities;
.imgAccueil {
    text-align: center;
}

.header {
    background-color: #343a40;
}
.imgtextHeader {
    max-width: 100%;
}
.imgHeader {
    max-width: 100%;
    height: auto;
}


.App-header {
    display: flex;

    width: 100%;
    background-color: #343a40;
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
}

.imgGauche {
    position: relative;
}
.imgHeader {
    width: 100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
